<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.simplemobiletools.commons">

    <!-- required for working contentproviders between apps on Android 11+ -->
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />

    <uses-feature
        android:name="android.hardware.faketouch"
        android:required="false"/>

    <uses-feature
        android:name="android.hardware.screen.portrait"
        android:required="false"/>

    <application>
        <receiver
            android:name=".receivers.SharedThemeReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.simplemobiletools.commons.SHARED_THEME_ACTIVATED"/>
                <action android:name="com.simplemobiletools.commons.SHARED_THEME_UPDATED"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>
